{% extends "base.html" %}

{% block content %}

  <h1 class="title">Buggy</h1>
 {% for buggy in buggies %}
 <br>
  <table>
   <tr>
     <td>ID:</td> <td> {{ buggy['id'] }} </td>
    </tr>
   <tr>
     <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
    </tr>
   <tr>
     <td>Number of Power Units:</td> <td> {{ buggy['power_units'] }} </td>
    </tr>
    <tr>
      <td>Power Type:</td> <td> {{ buggy['power_type'] }} </td>
     </tr>
     <tr>
      <td>Flag Color:</td> <td> {{ buggy['flag_color'] }} </td>
     </tr>
     <tr>
      <td>Buggy Cost:</td> <td> {{ buggy['buggy_cost'] }} </td> <br>
     </tr>
    
    <br>
      <td colspan="2" class="table"> <a href="/edit/ {{ buggy['id'] }}" class="button">Edit me</a>  <a href="/delete/ {{ buggy['id'] }}" class="button">Delete</a> <a href="/json/ {{ buggy['id'] }}" class="button">Get JSON</a></td>
      <br>
    </table>
{% endfor %}
<br>
  <p>
    <a href="/" class="button">Home</a>
  </p>


{% endblock %}
